.pointer {cursor: pointer;}
.errorMsg{
    color:darkred;
}

.highlightError{
    border: red;
    border-style: solid;
    border-width: thin;
}

.tile-block{
    width: 125px;
    height: 125px;
    border-style: solid;
    text-align: center;
    margin: auto!important;
    border-radius: 15px;
    vertical-align: middle;
    display: table-cell;
    border-color: cadetblue;
}

.preWhiteSpace{
    white-space: pre;
}

.width-100{
    width:100%;
}

.pwdPopoverHeader{
    background:lightgrey; 
    text-align:center;
}