<div class="container bg-fdfdfd px-0 pb-5">

    <div ng-include src="'app/Views/homeHeader.html'"></div>

    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="tile-block pointer" ui-sref="admin.studentLogin">
                Create Student login
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile-block pointer" ui-sref="admin.teacherLogin">
                Create Teacher login
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="tile-block pointer" ui-sref="admin.viewAllStudents({schoolID:userInfo.schoolID})">
                View All Students
            </div>
        </div>
        <div class="col-md-3">
            <div class="tile-block pointer" ui-sref="admin.viewAllTeachers({schoolID:userInfo.schoolID})">
                View All Teachers
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row mb">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="tile-block pointer" ui-sref="admin.linkTeachers">
                Link class & Teachers
            </div>
        </div>
        <div class="col-md-3">
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>