<div class="py-4 bg-white">
    <footer class="container bg-white border-right-0 border border-left-0 border-bottom-0 px-3 py-4 px-md-5 text-center text-md-left text-size-90-pc">
        <ul class="list-inline">
            <li class="list-inline-item mr-3">
                <a href="#">About</a>
            </li>
            <li class="list-inline-item mr-3">
                <a href="#">FAQ</a>
            </li>
            <li class="list-inline-item mr-3">
                <a href="#">Careers</a>
            </li>
            <li class="list-inline-item mr-3">
                <a href="#">Twitter</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Contact</a>
            </li>
        </ul>
        <p>Built by
            <a href="https://twitter.com/GowthamanIlango" target="_blank" rel="noopener">@GowthamanIlango</a> and
            <a href="https://twitter.com/mith_si" target="_blank" rel="noopener">@Mith_Si</a>. Maintained by the
            <a href="https://github.com/orgs/twbs/people">core team</a>.</p>
        <p>Currently v0.0.1.</p>
    </footer>
</div>