<div class="container bg-fdfdfd px-0 mt-0">
    <footer class="border-right-0 border border-left-0 border-bottom-0 px-3 py-4 px-md-5 text-center text-md-left text-size-90-pc">
        <ul class="list-inline">
          <li class="list-inline-item mr-3"><a href="" ui-sref="about">About</a></li>
          <li class="list-inline-item mr-3"><a href="#">Careers</a></li>
          <li class="list-inline-item mr-3"><a href="#">Blog</a></li>
          <li class="list-inline-item mr-3"><a href="#">Twitter</a></li>
          <li class="list-inline-item"><a href="" ui-sref="contact">Contact</a></li>
        </ul>
        <p class="text-secondary">Markup is a scientific method, based on modern analytics techniques, to measure students' knowledge. It will help in identifying where a student stands, and where he / she can improve.</p>
        <p class="text-secondary">&copy; Markup. All rights reserved.</p>
      </footer>
</div>