<div class="container bg-fdfdfd px-0 pb-5">

  <div ng-include src="'app/Views/homeHeader.html'"></div>

  <div ng-controller="mainController">

    <section class="mt-4 mt-md-0 mb-0 jumbotron bg-fdfdfd bg-index-jumbotron text-center d-flex align-items-center">
      <div class="col-sm"></div>
      <div class="container col-sm">
        <h1>Knowledge Measured, Categorically.</h1>
        <p class="lead text-secondary">A scientific method, based on analytics, to measure students' knowledge.</p>
        <a class="btn btn-outline-secondary rounded-0" href="#Features">
          Explore Features
        </a>
      </div>
      <div class="col-sm"></div>
    </section>

    <div id="Features" class="d-lg-flex flex-lg-equal pt-5 w-100">
      <div class="px-3 px-md-5 m-2 mr-lg-1 mt-5 mt-lg-0 text-center overflow-hidden">
        <h3>Study Smarter, Not Harder.</h3>
        <p class="lead text-secondary">Hard work not neccesarily translates to results, but smart work does. Markup could be a step towards working smarter.</p>
        <p>
          <a href="#">More on
            <i>Study Smarter, Not Harder...</i>
          </a>
        </p>
        <div class="bg-study-smarter-not-harder w-100 box-shadow mx-auto"></div>
      </div>

      <div class="px-3 px-md-5 m-2 ml-lg-1 mt-5 mt-lg-0 text-center overflow-hidden">
        <h3>Track Progress, Anywhere.</h3>
        <p class="lead text-secondary">Get on-demand data-rich analytics insights that will inform a student/teacher, whether his/her study methods work.</p>
        <p>
          <a href="#">More on
            <i>Track Progress, Anytime...</i>
          </a>
        </p>
        <div class="bg-track-progress w-100 box-shadow mx-auto"></div>
      </div>
    </div>

    <div class="d-lg-flex flex-lg-equal mt-5 w-100">
      <div class="px-3 px-md-5 m-2 mr-lg-1 mt-5 mt-lg-0 text-center overflow-hidden">
        <h3>Know Where You Stand.</h3>
        <p class="lead text-secondary">Markup shows where you stand, amongst all relevant population - right from your classmates, to education board students.</p>
        <p>
          <a href="#">More on
            <i>Know Where You Stand...</i>
          </a>
        </p>
        <div class="bg-know-where-you-stand w-100 box-shadow mx-auto"></div>
      </div>

      <div class="px-3 px-md-5 m-2 ml-lg-1 mt-5 mt-lg-0 text-center overflow-hidden">
        <h3>Exceed Expectations.</h3>
        <p class="lead text-secondary">'Measure to improve', said Peter Drucker. With Markup doing the measuring, all you have to do is improve.</p>
        <p>
          <a href="#">More on
            <i>Exceed Expectations...</i>
          </a>
        </p>
        <div class="bg-exceed-expectations w-100 box-shadow mx-auto"></div>
      </div>
    </div>
  </div>
</div>