<div class="container bg-fdfdfd px-0">
  <div ng-include src="'app/Views/homeHeader.html'"></div>

  <div class="box-shadow" ng-controller="mainController">

    <form name="signin" class="form-signin mx-auto text-center mt-5 pt-5" novalidate>
      <h2 class="mb-3 font-weight-normal">Please sign in</h2>
      <br/>
      <div ng-if="invalidLogin" class="mb-2 errorMsg alert alert-danger rounded-0">Invalid User name/Password!</div>
      <div ng-if="missingRequiredFields" class="mb-2 errorMsg alert alert-danger rounded-0">All fields are required!</div>
      <br/>      
      <div class="form-group">
        <ui-select id="schoolName" name="schoolName" class="width-100" ui-select-required ng-model="profile.school" theme="select2" title="Choose a school">
          <ui-select-match placeholder="Select a school in the list...">{{$select.selected.schoolName}}, {{$select.selected.school.city}}</ui-select-match>
          <ui-select-choices repeat="school in schoolList | filter: {schoolName: $select.search}">
            <div ng-bind-html="school.schoolName | highlight: $select.search"></div>
            <small>
              Board: {{school.board}} | Pincode:
              <span ng-bind-html="''+school.pincode | highlight: $select.search"></span>
            </small>
          </ui-select-choices>
        </ui-select>

      </div>
      <div class="form-group">
        <input type="text" id="userName" name="userName" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" ng-model="profile.username"  ng-class="{'highlightError': signin.userName.$invalid && !signin.userName.$pristine}"
          placeholder="Username" ng-change="invalidLogin = false; missingRequiredFields=false;" required>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" ng-model="profile.pwd"
          placeholder="Password" ng-change="invalidLogin = false;  missingRequiredFields=false;" required>
      </div>
      <div class="checkbox mt-3">
        <label class="text-secondary pointer">
          <input type="checkbox" value="remember-me" class="pointer"> Remember me
        </label>
      </div>
      <a href="#">Forgot Password?</a>
      <button class="btn btn-outline-primary btn-block rounded-0 mt-3 mb-5 pointer" type="submit" ng-click="checkAuthentication()">Sign In</button>

      <a ng-hide="true" href="" class="btn btn-lg btn-primary btn-block rounded-0 pointer" ui-sref="createUser">New User?</a>
    </form>

    <section class="p-5 text-center border border-left-0 border-right-0 border-bottom-0">
      <h2 class="text-secondary">Would you like to get Markup to your school?</h2>
      <a class="btn btn-outline-secondary rounded-0" href="#">
        Get In Touch
      </a>
    </section>
  </div>
</div>