    <li class="nav-item">
      <a class="nav-link active" href="" ui-sref="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="howItWorks">How it works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="pricing">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="terms">Terms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="privacy">Privacy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="disclosure">Disclosures</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" ui-sref="contact">Contact</a>
    </li>