<div class="container bg-fdfdfd px-0 pb-5">

  <div ng-include src="'app/Views/homeHeader.html'"></div>

  <div class="box-shadow" ng-controller="mainController">
    <form name="newUserForm" class="form-signin mx-auto text-center mt-5 pt-5">
      <h3 class="form-signin-heading">Create your Markup Account</h3>
      <br/>
      <div class="form-group">
        <input type="text" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" id="firstName" placeholder="First name" ng-model="newUser.firstName" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" id="lastName" placeholder="Last name" ng-model="newUser.lastName" required>
      </div>      
      <div class="form-group">
        <ui-select id="schoolName" name="schoolName" class="width-100" ui-select-required ng-model="newUser.schoolID" theme="select2" title="Choose a school">
          <ui-select-match placeholder="Select a school in the list...">{{$select.selected.schoolName}}</ui-select-match>
          <ui-select-choices repeat="school._id as school in schoolList | filter: {schoolName: $select.search}">
            <div ng-bind-html="school.schoolName | highlight: $select.search"></div>
            <small>
              Board: {{school.board}} Pincode:
              <span ng-bind-html="''+school.pincode | highlight: $select.search"></span>
            </small>
          </ui-select-choices>
        </ui-select>

      </div>
      <div class="form-group">
        <input type="text" id="userName" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" ng-class="userNameExists?'highlightError':''" ng-model="newUser.username"
          ng-change="userNameExists = false; errorCreatingUser = false" placeholder="Username" required>
        <div ng-if="userNameExists" class="mt-2 errorMsg">User name already exists!</div>
        <div ng-if="errorCreatingUser" class="mt-2 errorMsg">Error creating user!</div>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" ng-model="newUser.pwd" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="password" id="repeatPassword" class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" ng-model="newUser.pwd" placeholder="Confirm Password" required>
      </div>
      <div class="form-group">
        <select class="form-control bg-none border-top-0 border-right-0 border-left-0 rounded-0" ng-model="newUser.role" aria-placeholder="Role">
          <option value="" disabled selected>Select your role</option>
          <option value="admin">Admin</option>
          <option value="teacher">Teacher</option>
          <option value="student">Student</option>
          <option value="manager">Manager</option>
        </select>
      </div>
      <br/>
      <button class="btn btn-outline-primary btn-block rounded-0 pointer" ng-click="createUser()" type="submit">Create User</button>
    </form>
  </div>
</div>