<div class="container bg-fdfdfd px-0">

    <div ng-include src="'app/Views/homeHeader.html'"></div>

    <div ng-controller="mainController">
        <div ng-include src="'app/Views/navMenuTop.html'"></div>
        <div class="row mt-3">
            <div class="col-md-3 pt-2">
                <div ng-include src="'app/Views/navMenuLeft.html'"></div>
            </div>

            <div class="col-md-9 px-5 px-md-3 pb-5">
                <div id="about" class="pr-md-5 pt-2 mx-0 text-left">
                    <h3>How Markup Works</h3>
                    <p>
                        It's easy to buy & manage smallcases. All you have to do is find your favourite smallcases and click buy. We take care of
                        placing orders for each of them, tracking each smallcase as a separate portfolio & helping you rebalance
                        your smallcase in two clicks!
                    </p>
                    <p class="pt-2">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons md-30 text-markup-green">call_merge</i>
                            </div>
                            <div class="col-sm-11">
                                <h5>Interlink Stakeholders</h5>
                                <h6>Markup is a new age analytics tool to measure where a student stands</h6>
                                Markup is a tool that captures all possible data, in the most efficient way possible. The tool captures students' marks,
                                not just the overall subject marks, but also the minute individual question-level marks.
                                Our systems would also internally tag questions and chapters (and sub-chapters, too). With
                                these internal systems, in place, it's never been this simple and this insightful for students,
                                teachers, and school managements to measure their performance.
                            </div>
                        </div>
                    </p>
                    <p class="pt-2">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons md-30 text-markup-red">attachment</i>
                            </div>
                            <div class="col-sm-11">
                                <h5>Tag Questions And Sub-Chapters</h5>
                                Scoring marks is important, and understanding where you scored and where you didn't, even more important. 3 reasons why you
                                should get started with Markup:
                                <br/> - Benchmark where you stand against your chosen competitive frame of reference
                                <br/> - Identify subject areas of strengths and weaknesses, precisely
                                <br/> - All you need is internet connectivity to connect to your dashboard, anywhere and anytime
                                <br/>
                            </div>
                        </div>
                    </p>
                    <p class="pt-2">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons md-30 text-markup-violet">assignment</i>
                            </div>
                            <div class="col-sm-11">
                                <h5>Collect Data</h5>
                                -
                                <a href="#">Study Smarter, Not Harder</a>
                                <br/> -
                                <a href="#">Track Progress, Anywhere</a>
                                <br/> -
                                <a href="#">Know Where You Stand</a>
                                <br/> -
                                <a href="#">Exceed Expectations</a>
                            </div>
                        </div>
                    </p>
                    <p class="pt-2">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons md-30 text-markup-yellow">assessment</i>
                            </div>
                            <div class="col-sm-11">
                                <h5>View Insights</h5>
                                We want to hear what you love and hate about the Markup platform.
                                <br/> Get in touch with us at
                                <a href="#">support@markup.com</a>
                                <br/> For jobs, email us at
                                <a href="#">people@markup.com</a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>