<div class="container bg-fdfdfd px-0">

    <div ng-include src="'app/Views/homeHeader.html'"></div>

    <div ng-controller="mainController">
        <div ng-include src="'app/Views/navMenuTop.html'"></div>
        <div class="row mt-3">
            <div class="col-md-3 pt-2">
                <div ng-include src="'app/Views/navMenuLeft.html'"></div>
            </div>

            <div class="col-md-9 px-5 px-md-3 pb-5">
                <div id="pricing" class="pr-md-5 pt-2 mx-0 text-left">
                    <h3>Pricing</h3>
                    <p class="pt-2">
                        <div class="row bg-pricing-jumbotron">
                        </div>
                    </p>
                    <p class="pt-3">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons md-30 text-markup-yellow">attach_money</i>
                            </div>
                            <div class="col-sm-11">
                                <h5>Use Now, Pay Later</h5>
                                Scoring marks is important, and understanding where you scored and where you didn't, even more important. 3 reasons why you
                                should get started with Markup:
                                <br/> - Benchmark where you stand against your chosen competitive frame of reference
                                <br/> - Identify subject areas of strengths and weaknesses, precisely
                                <br/> - All you need is internet connectivity to connect to your dashboard, anywhere and anytime
                                <br/>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>